html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0; 
}
body{
background-image:linear-gradient(to left, black, black );
font-family:Arial, Helvetica, sans-serif;
color: white;
}
.nav1{

background-image:linear-gradient( to left,rgb(196, 157, 59), rgb(170, 138, 69) );
}
nav ul,li{
    align-self: center;
}

.d1, #ah, #ah1{
    color: white;
    font-weight: 700;

}


.sec1{
    display: flex;
    justify-content: space-around;
align-items: center;
    flex-wrap: wrap-reverse;
    margin-top: 40px;
}

.img1 img{
    position: relative;
    top: 30px;
    opacity: 0.6;
}
.img1{
    
    background-color: black;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}
.right{
    position: relative;
}
@property --angle{
    syntax: "<angle>";
initial-value: 0deg;
inherits: false;
}
.right::after, .right::before {
    content: '';
 border-radius: 50%;
position: absolute;
bottom: -52%;
left: 50%;
background-image: conic-gradient( from var(--angle), transparent 75%, rgb(196, 157, 59), rgb(170, 138, 69) );
width: 103%;
height: 102%;
z-index: -1;
translate: -50% -50%;
padding: 10px;
animation: spin 3s linear infinite;
}


@keyframes spin{
from{
    --angle: 0deg;
}
    to{
--angle: 360deg;
}

}
.right::before{
    filter: blur(1rem);
    opacity: 0.3;
}

#element{
    animation: typ 2s linear infinite;
}

@keyframes typ{
from{
color: rgb(196, 157, 59);
}
    to{
color: rgb(170, 138, 69);
}

}
.right::before{
    filter: blur(1rem);
    opacity: 0.3;
}
/*  */
.fa-brands{
    
    color: gold;
    font-size: 3em;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    filter: drop-shadow(0 -1mm 2mm rgb(196, 157, 59));
    background-image:linear-gradient( to left,rgb(196, 157, 59), rgb(80, 68, 43) );
}

.icon{
    height: 70vh;
    display: flex;
    justify-content: space-around;
align-items: center;
flex-wrap: wrap;

}
.icon1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.hp1{
     text-wrap: wrap; 
    text-align:left;
    width: 200px;
    
}
@media (max-height:680px){
  .icon{
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
align-items: center;
flex-wrap: wrap;

  }


}
@media (max-width: 810px) and (min-height:680px){
  .icon{
    height: 280vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
align-items: center;
flex-wrap: wrap;

  }


}

@media (max-width: 400px) {
.img1 img{
    position: relative;
    top: 1vh;
    right: 10vw;
    opacity: 0.6;
}
.img1{
    background-color: black;
    height: 40vh;
    width: 80vw;
    border-radius: 50%;
    overflow: hidden;
}
.right{
    position: relative;
}
@property --angle{
    syntax: "<angle>";
initial-value: 0deg;
inherits: false;
}
.right::after, .right::before {
    content: '';
 border-radius: 50%;
position: absolute;
bottom: -52%;
left: 50%;
background-image: conic-gradient( from var(--angle), transparent 75%, rgb(196, 157, 59), rgb(170, 138, 69) );
width: 103%;
height: 102%;
z-index: -1;
translate: -50% -50%;
padding: 10px;
animation: spin 3s linear infinite;

}


}


.unicd{
    display: flex;
    justify-content: center;
    align-items: center;
}


